In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Med_Domain.csv') 
df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,0,C,49,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,0,C,216,True
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,0,C,216,True

# ------------------------Dummy Variable Creation-----------------

In [5]:
categorical_df = df.select_dtypes(include=['object'])
categorical_df

      laterality view density
0              L   CC     NaN
1              L  MLO     NaN
2              R  MLO     NaN
3              R   CC     NaN
4              L   CC     NaN
...          ...  ...     ...
54701          R  MLO       C
54702          L  MLO       C
54703          L   CC       C
54704          R  MLO       C
54705          R   CC       C

[54706 rows x 3 columns]

In [6]:
dummy_df = pd.get_dummies(categorical_df,drop_first=True)
dummy_df

,laterality_R,view_CC,view_LM,view_LMO,view_ML,view_MLO,density_B,density_C,density_D
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,1,0,0,0
3,1,1,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
54701,1,0,0,0,0,1,0,1,0
54702,0,0,0,0,0,1,0,1,0
54703,0,1,0,0,0,0,0,1,0
54704,1,0,0,0,0,1,0,1,0
54705,1,1,0,0,0,0,0,1,0

In [7]:
concated_df = pd.concat([df,dummy_df],axis=1)
concated_df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,...,difficult_negative_case,laterality_R,view_CC,view_LM,view_LMO,view_ML,view_MLO,density_B,density_C,density_D
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,...,False,0,1,0,0,0,0,0,0,0
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,...,False,0,0,0,0,0,1,0,0,0
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,...,False,1,0,0,0,0,1,0,0,0
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,...,False,1,1,0,0,0,0,0,0,0
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,...,True,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,...,False,1,0,0,0,0,1,0,1,0
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,...,False,0,0,0,0,0,1,0,1,0
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,...,False,0,1,0,0,0,0,0,1,0
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,...,True,1,0,0,0,0,1,0,1,0
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,...,True,1,1,0,0,0,0,0,1,0

In [8]:
dropped_column_df = concated_df.drop(list(categorical_df.columns),axis=1) 
dropped_column_df

,site_id,patient_id,image_id,age,cancer,biopsy,invasive,BIRADS,implant,machine_id,difficult_negative_case,laterality_R,view_CC,view_LM,view_LMO,view_ML,view_MLO,density_B,density_C,density_D
0,2,10006,462822612,61.0,0,0,0,NaN,0,29,False,0,1,0,0,0,0,0,0,0
1,2,10006,1459541791,61.0,0,0,0,NaN,0,29,False,0,0,0,0,0,1,0,0,0
2,2,10006,1864590858,61.0,0,0,0,NaN,0,29,False,1,0,0,0,0,1,0,0,0
3,2,10006,1874946579,61.0,0,0,0,NaN,0,29,False,1,1,0,0,0,0,0,0,0
4,2,10011,220375232,55.0,0,0,0,0.0,0,21,True,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,43.0,0,0,0,1.0,0,49,False,1,0,0,0,0,1,0,1,0
54702,1,9989,63473691,60.0,0,0,0,NaN,0,216,False,0,0,0,0,0,1,0,1,0
54703,1,9989,1078943060,60.0,0,0,0,NaN,0,216,False,0,1,0,0,0,0,0,1,0
54704,1,9989,398038886,60.0,0,0,0,0.0,0,216,True,1,0,0,0,0,1,0,1,0
54705,1,9989,439796429,60.0,0,0,0,0.0,0,216,True,1,1,0,0,0,0,0,1,0