In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler

In [5]:
df = pd.read_csv('Med_Domain.csv') 
df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,0,C,49,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,0,C,216,True
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,0,C,216,True

In [6]:
df.cancer.value_counts() # class 1 is very less comparatively to 0 class

0    53548
1     1158
Name: cancer, dtype: int64

In [8]:
X = df.drop(['cancer'],axis=1) 
y = df['cancer']

In [12]:
# ------------Up-sampling to fix the imbalanced dataset--------------------

ros = RandomOverSampler() 
X_train_res,y_train_res = ros.fit_resample(X,y) 
# ---------------------------------------------------------------------------------------------------------

X_train, X_test, t_train, t_test = train_test_split(X_train_res.values,y_train_res.values, test_size=0.3, shuffle=True, random_state=1)

In [14]:
y_train_res.value_counts()# Now the classes of 0 and 1 are become the same <-----------------------

0    53548
1    53548
Name: cancer, dtype: int64